@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');

* {
    font-family: 'Jetbrains Mono';
    color-scheme: dark;
}

#headers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2vh;
}

#title {
    font-size: 7vh;
    margin-bottom: 10px;
    text-align: center;
}

#name {
    font-size: 4vh;
    margin-top: 0;
    text-align: center;
}

#items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    background-color: lightgray;
    color: black;
    font-size: 3vh;
    width: 430px;
}

#return {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: lightgray;
    margin-left: 38%;
    margin-right: 38%;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    font-size: 3vh;
    color: black;
}

#return:hover {
    background-color: darkgray;
}

