@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');

* {
    font-family: 'Jetbrains Mono';
    color-scheme: dark;
}

#headers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title {
    font-size: 7vh;
    margin-top: 30vh;
    margin-bottom: 10px;
}

#name {
    font-size: 4vh;
    margin-top: 0;
}

#frm-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#frm-text {
    transition: 0.5s;
    text-align: center;
    background-color: lightgray;
    color: black;
    border: 0;
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 2.5vh;
    height: 6vh;
    width: 22vw;
}

#frm-text:hover {
    border: none;
    width: 25vw;
    background-color: darkgray;
}

#frm-text:focus {
    border: none;
    width: 28vw;
    background-color: darkgray;
}

#frm-btn {
    transition: 0.5s; 
    background-color: lightgray;
    font-size: 2.5vh;
    height: 7vh;
    width: 8vw;
    border-radius: 12px;
    border-width: 0;
    color: black;
}

#frm-btn:hover {
    background-color: darkgray;
    font-size: 2.7vh;
    width: 9vw;
    cursor: pointer;
}

#frm-btn:active {
    background-color: darkgray;
}

#help {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: lightgray;
    margin-left: 48%;
    margin-right: 48%;
    border-radius: 50px;
    text-decoration: none;
    font-size: 4vh;
    color: black;
}

#help:hover {
    background-color: darkgray;
}