@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');

* {
    font-family: 'Jetbrains Mono';
}

#headers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title {
    margin-top: 30vh;
    margin-bottom: 10px;
}

#name {
    margin-top: 0;
}

#frm-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#frm-text {
    transition: 0.5s;
    text-align: center;
    background-color: lightgray;
    border: 0;
    padding: 5px 5px;
    border-radius: 10px;
    height: 30px;
    width: 20vw;
}

#frm-text:hover {
    border: none;
    background-color: darkgray;
}

#frm-text:focus {
    border: none;
    background-color: darkgray;
}

#frm-btn {
    transition: 0.5s; 
    background-color: lightgray;
    font-size: 15;
    height: 30px;
    width: 90px;
    border-radius: 30px;
    border-width: 0;
}

#frm-btn:hover {
    background-color: darkgray;
    cursor: pointer;
}

#frm-btn:active {
    background-color: darkgray;
}